/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.item-table {
  width: 100%;
  border-collapse: collapse; /* 枠線を重ねる */
}

.item-table th, .item-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; /* 基本は左寄せ */
}

/* 特定の列の幅を指定 */
.col-id { width: 5%; }
.col-name { width: 70%; }
.col-price { width: 25%; }

/* 数値などを右寄せ */
.text-right {
  text-align: right;
}

.input-large {
  width: 50%;       /* 幅を最大に */
  padding: 10px;     /* 高さを出す */
  font-size: 16px;   /* 文字を大きく */
}